<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="mcCode">
      <mat-header-cell *matHeaderCellDef> MC-Code </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.mcCode}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mcName">
      <mat-header-cell *matHeaderCellDef> MC-Name </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.mcName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef> Category Name </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.categoryName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subCategoryName">
      <mat-header-cell *matHeaderCellDef> SubCategory Name </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.subCategoryName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isMCActive">
      <mat-header-cell *matHeaderCellDef> isMCActive </mat-header-cell> 
      <mat-cell *matCellDef="let category"> {{category.isMCActive}} </mat-cell>  
    </ng-container>
    <mat-header-row *matHeaderRowDef="mchTableColumns"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: mchTableColumns"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>