<div class="container">
 
  <ul class="nav nav-tabs"  role="tablist">
      <!-- <ul class="nav-item">
        <a class="nav-link active" data-toggle="tab" [routerLink]="['/create']">Create</a>
      </ul> -->
      <ul class="nav-item">
          <a class="nav-link" data-toggle="tab"  [routerLink]="['/masterData']">Master Data</a>
                <ul class="nav-item">
                  <a class="nav-link" data-toggle="tab"  [routerLink]="['/userMaster']">User Master</a>
                </ul>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/proposalManagment']">Proposal Management</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/promotionInitiation']">Promotion Initiation</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/promotionModification']">Promotion Modification</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/promotionApproval']">Promotion Approval</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/promotionExecution']">Promotion Execution</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/promotionCommunication']">Promotion Communication</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/reports']">Reports</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/vistex']">Vistex</a>
      </ul>
      <ul class="nav-item">
        <a class="nav-link" data-toggle="tab"  [routerLink]="['/sapLogin']">SAP LOGIN</a>
      </ul>  
    </ul>   
  
  <div class="card bg-light p-3">   
      
<router-outlet></router-outlet>
  </div>

</div>    